*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.container{
    border: solid 1px black;
    border-radius: 0.5em;
    padding: 2em;
}

.heading{
    font-size: 2rem;
    text-align: center;
}

.quote{
    font-size: 1.5rem;
    margin-top: 0.5em;
    font-style: italic;
    font-weight: 100;
}

.author{
    font-size: 1rem;
    margin-top: 0.4em;
    text-align: center;
    font-style: bold;
}

